<h1 align = "center">My Trade</h1>
<table align="center">
  <tr>
    <td>
    <div *ngFor="let coinbtc of coinBTC;">
      <h2>{{coinbtc.name}} ({{coinbtc.symbol}})</h2>
      <ul>
        <li>
          <b>Price</b>
        </li>
        <ul>
          <li>
            <b>USD:</b> {{coinbtc.price_usd}}</li>
        </ul>
        <li>
          <b>percent change in 1 hour:</b> {{coinbtc.percent_change_1h}} %</li>
        <li>
          <b>percent change in 24 hour:</b> {{coinbtc.percent_change_24h}} %</li>
        <li>
          <b>percent change in 7 day:</b> {{coinbtc.percent_change_7d}} %</li>
        <li>
          <b>Rank in market:</b> {{coinbtc.rank}}</li>
      </ul>
    </div>
  </td>
  <td>
    <div *ngFor="let coinomg of coinOMG;">
      <h2>{{coinomg.name}} ({{coinomg.symbol}})</h2>
      <ul>
        <li>
          <b>Price</b>
        </li>
        <ul>
          <li>
            <b>USD:</b> {{coinomg.price_usd}}</li>
          <li>
            <b>BTC:</b> {{coinomg.price_btc}}</li>
        </ul>
        <li>
          <b>percent change in 1 hour:</b> {{coinomg.percent_change_1h}} %</li>
        <li>
          <b>percent change in 24 hour:</b> {{coinomg.percent_change_24h}} %</li>
        <li>
          <b>percent change in 7 day:</b> {{coinomg.percent_change_7d}} %</li>
        <li>
          <b>Rank in market:</b> {{coinomg.rank}}</li>
      </ul>
    </div>
  </td>
  </tr>
  <tr>
      <td>
    <div *ngFor="let coineth of coinETH;">
      <h2>{{coineth.name}} ({{coineth.symbol}})</h2>
      <ul>
        <li>
          <b>Price</b>
        </li>
        <ul>
          <li>
            <b>USD:</b> {{coineth.price_usd}}</li>
          <li>
            <b>BTC:</b> {{coineth.price_btc}}</li>
        </ul>
        <li>
          <b>percent change in 1 hour:</b> {{coineth.percent_change_1h}} %</li>
        <li>
          <b>percent change in 24 hour:</b> {{coineth.percent_change_24h}} %</li>
        <li>
          <b>percent change in 7 day:</b> {{coineth.percent_change_7d}} %</li>
        <li>
          <b>Rank in market:</b> {{coineth.rank}}</li>
      </ul>
    </div>
  </td>
  <td>
    <div *ngFor="let coinxrp of coinXRP;">
      <h2>{{coinxrp.name}} ({{coinxrp.symbol}})</h2>
      <ul>
        <li>
          <b>Price</b>
        </li>
        <ul>
          <li>
            <b>USD:</b> {{coinxrp.price_usd}}</li>
          <li>
            <b>BTC:</b> {{coinxrp.price_btc}}</li>
        </ul>
        <li>
          <b>percent change in 1 hour:</b> {{coinxrp.percent_change_1h}} %</li>
        <li>
          <b>percent change in 24 hour:</b> {{coinxrp.percent_change_24h}} %</li>
        <li>
          <b>percent change in 7 day:</b> {{coinxrp.percent_change_7d}} %</li>
        <li>
          <b>Rank in market:</b> {{coinxrp.rank}}</li>
      </ul>
    </div>
  </td>
  </tr>
</table>
<footer>
    <img height="50px" src="https://ip.bitcointalk.org/?u=http%3A%2F%2Fi.imgur.com%2Fg30C6ve.gif&t=581&c=iJpY8o82yuLmQw">
    <img height="50px" src="https://ip.bitcointalk.org/?u=http%3A%2F%2Fi.imgur.com%2Fg30C6ve.gif&t=581&c=iJpY8o82yuLmQw">
    <img height="50px" src="https://ip.bitcointalk.org/?u=http%3A%2F%2Fi.imgur.com%2Fg30C6ve.gif&t=581&c=iJpY8o82yuLmQw">
    <img height="50px" src="https://ip.bitcointalk.org/?u=http%3A%2F%2Fi.imgur.com%2Fg30C6ve.gif&t=581&c=iJpY8o82yuLmQw">
    <img height="50px" src="https://ip.bitcointalk.org/?u=http%3A%2F%2Fi.imgur.com%2Fg30C6ve.gif&t=581&c=iJpY8o82yuLmQw">
    <img height="50px" src="https://ip.bitcointalk.org/?u=http%3A%2F%2Fi.imgur.com%2Fg30C6ve.gif&t=581&c=iJpY8o82yuLmQw">
    <img height="50px" src="https://ip.bitcointalk.org/?u=http%3A%2F%2Fi.imgur.com%2Fg30C6ve.gif&t=581&c=iJpY8o82yuLmQw">
    <img height="50px" src="https://ip.bitcointalk.org/?u=http%3A%2F%2Fi.imgur.com%2Fg30C6ve.gif&t=581&c=iJpY8o82yuLmQw">
    <img height="50px" src="https://ip.bitcointalk.org/?u=http%3A%2F%2Fi.imgur.com%2Fg30C6ve.gif&t=581&c=iJpY8o82yuLmQw">
    <img height="50px" src="https://ip.bitcointalk.org/?u=http%3A%2F%2Fi.imgur.com%2Fg30C6ve.gif&t=581&c=iJpY8o82yuLmQw">
    <img height="50px" src="https://ip.bitcointalk.org/?u=http%3A%2F%2Fi.imgur.com%2Fg30C6ve.gif&t=581&c=iJpY8o82yuLmQw">
    <img height="50px" src="https://ip.bitcointalk.org/?u=http%3A%2F%2Fi.imgur.com%2Fg30C6ve.gif&t=581&c=iJpY8o82yuLmQw">
    
</footer>